// params of workflow

params {
    outdir = 4
    reads="/home/quangong/testData/fastq/*_R{1,2}.fastq.gz"
    length=20
    quality=20
    genome="/home/quangong/genome/chr1.fa"
    outdir="$baseDir/result"
    index="/home/quangong/genome/chr1_hg38_index"
    bed12="/home/quangong/genome/Homo_sapiens.GRCh38.104.protein_coding_12.bed"
    gtf="/mnt/d/Zymo/genome/Homo_sapiens.GRCh38.104.protein_coding.gtf"
    strandedness=2
    fc_extra_attributes = 'gene_name'
    fc_group_features = 'gene_id'
    fc_count_type = 'exon'
    fc_biotype_count_type = 'exon'
    fc_biotype_group_features = 'gene_biotype'
    bam_suffix = "_Aligned.sortedByCoord.out.bam"
    design = '/mnt/d/Zymo/GitHub/nxf-rnaseq/design.csv'
    compare = '/mnt/d/Zymo/GitHub/nxf-rnaseq/comparison.csv'
    deseq2_fdr = 0.05
    deseq2_lfc = 0.585   
    gprofiler_fdr = 0.05
}
